<% if @album.blank? %>
  <%= render 'user_partial/show_0' %>
<% else %>
  <%= render 'user_partial/show_1' %>
<% end %>

<div>
<% if current_user != @user %>
  <%= link_to "Report this user", report_user_path(@user) %>
<% end %>
</div>